<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Add Stock</h1>
  

  <form id="form" action="../../admin/addstock" method="post">
    <label for="name">Merchant Name</label><br>
    <input type="text" name="name" value="<%= data.merchant_name %>" disabled/><br>
    

    <label for="name">Batch No</label><br>
    <input type="text" name="item_batch"/><br>

    <label for="name">Type</label><br>
    <input type="text" name="item_type"/><br>

    <label for="name">Quantity</label><br>
    <input type="number" name="item_qty"/><br>

    <label for="name">Unit Price</label><br>
    <input type="text" name="item_price"/><br>    

    <label for="name">Received Date</label><br>
    <input type="date" name="item_received_date"/><br> 

     <label for="name">Comment</label><br>
    <textarea name="comment" rows="4" cols="50"></textarea><br>

    <input type="hidden" name="merchant_name" value="<%= data.merchant_name %>"/>
    <input type="hidden" name="merchant_id" value="<%= data.merchant_id %>"/>

    
    <input type="submit" name="submit"/>

  </form>

 
  
  
  </body>

</html>