<!DOCTYPE html>
<html>
	<head><title>add stock</title></head>
	<body>
		<h1>Add stock</h1>
		<form method="post" action="addstock">
			<input type="text" name="name" />
			<input type="submit" name="submit"/>
		</form>
	</body>
</html>
