<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Payment Record</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Payment Record</h1>

  <p>Merchant Name: <%= merchant.merchant_name %> <p>
  <p>Total Sale: <%= merchant.total_sale %> <p>


  <form id="form" action="../../admin/savepayment" method="post">
     amount: <input type="number" name="amount"/> <br>
     date: <input type="date" name="date"/> <br>
     
     <input type="hidden" name="total_sale" value="<%= merchant.total_sale %>"/>
     <input type="hidden" name="merchant_id" value="<%= merchant.merchant_id %>"/>
     <input type="submit" name="submit"/>
  </form>

  

 

  </body>

</html>