<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  
  
	<form id="form" action="#" method="post">
    <labelf for="name">What is your name</label><br>
    <input type="text" name="name" value="<%= data.user_name  %>"/>

    <labelf for="name">What is your phone number</label><br>
    <input type="tel" id="phone" name="phone" placeholder="09xxxxxxxxx" pattern="[0-9]{5,10}">
    
    <input type="submit" name="submit"/>

  </form>


  <script>
  const windowClose = () => {
    window.close();
  }

      
  document.getElementById("form").addEventListener("submit", windowClose);  
	
 
  </script>
  </body>

</html>